fastapi[standard]~=0.112
uvicorn[standard]~=0.27
sqlalchemy~=2.0
psycopg2-binary~=2.9.0
cryptography~=48.0.1
passlib[bcrypt]~=1.7
pyjwt~=2.8
python-multipart~=0.0
pydantic-settings>=2.0.0
pydantic[email]~=2.0
python-dotenv~=1.0
aiofiles==24.1.0
